.git
.gitignore
.venv
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
.idea
.vscode
.cursor
__pycache__
**/__pycache__
*.py[cod]
*.egg-info
*.so
notes
tests
envs
dask-worker-space
*.md
!README.md
